.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  max-width: 1320px;
  margin: 0 auto;
}
.film {
  position: relative;
  width: 240px;
  height: fit-content;
  color: var(--text-color);
  &:hover {
    .mark__icon {
      color: rgb(165, 165, 165);
    }
    .mark__icon--active {
      color: red;
    }
  }
}
.movie__cover-inner {
  position: relative;
  img{
    width: 240px;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
  }
  &:hover {
    .movie__cover--darkened {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
.movie__cover--darkened {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-out;
}
.movie__info {
  padding: 5px;
}
.movie__title {
  margin-bottom: 5px;
  font-size: 22px;
}
.movie__category {
  margin-bottom: 5px;
}
.movie__link {
  color: var(--btn-bg);
  &:hover {
    text-decoration: underline;
  }
}
.movie__average {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;

  background-color: black;
  border-radius: 50%;

  font-size: 20px;
  &--green {
    border: 2px solid green;
  }
  &--orange {
    border: 2px solid orange;
  }
  &--red {
    border: 2px solid red;
  }
}
.mark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;

  background-color: transparent;
  border-radius: 50%;
  &__icon {
    font-size: 30px;
    color: transparent;
    transition: color 0.2s ease-in;
    &--active {
      color: red;
    }
  }
  &:hover {
    .mark__icon {
      color: rgb(255, 121, 121);
    }
  }
}
@media (max-width: 1100px) {
  .mark__icon {
    color: rgb(165, 165, 165);
  }
}
