.form {
  position: absolute;
  right: 0;
  height: 35px;
  overflow: hidden;
  transform: translateY(120%);
  &__input {
    display: block;
    padding: 5px;
    width: 250px;
    height: 35px;

    background-color: #fff;

    color: var(--accent);
    font-size: 20px;

    transform: translateY(-100%);
    transition: transform 0.2s ease-in;
    &.active{
        transform: translateY(0);
    }
  }
  &__submit{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;

    background-color: black;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in;
    &.active{
        transform: translateY(0);
    }
  }
}
