.genres {
  padding: 60px 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
  row-gap: 40px;
}
.genre__title {
  transition: color 0.2s ease-out;
  &:hover {
    color: var(--btn-bg);
  }
}
@media (max-width: 1130px) {
  .genres {
    gap: 28px;
    padding: 20px 20px;
  }
}
@media (max-width: 730px) {
  .genres {
    padding: 10px 10px;
    margin-bottom: 10px;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;

    
    &::-webkit-scrollbar {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--page-bg-accent);
      border-radius: 20px;
    }
    &::-moz-webkit-scrollbar {
      height: 10px;
    }
    &::-moz-webkit-scrollbar-thumb {
      background-color: var(--page-bg-accent);
      border-radius: 20px;
    }
  }
}
