.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    align-items: center;
    gap: 120px;

    font-size: 25px;
    font-weight: 500;
  }
  &__link {
    transition: color 0.2s ease-out;
    &:hover {
      color: var(--btn-bg);
    }
  }
  &__btns {
    position: relative;
    display: flex;
    align-items: center;
    gap: 35px;

    font-size: 35px;
  }
  &__btn{
    transition: color 0.2s ease-out;
    &:hover{
      color: var(--btn-bg);
    }
  }
}
