.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  &__list {
    display: flex;
    align-items: center;
    gap: 120px;

    font-size: 25px;
    font-weight: 500;
  }
  &__link {
    transition: color 0.2s ease-out;
    &:hover {
      color: var(--btn-bg);
    }
  }
  &__btns {
    position: relative;
    display: flex;
    align-items: center;
    gap: 35px;

    font-size: 35px;
  }
  &__btn {
    transition: color 0.2s ease-out;
    &:hover {
      color: var(--btn-bg);
    }
  }
}
.logo{
  display: block;
  width: fit-content;
}
@media (max-width: 1130px) {
  .nav {
    &__list {
      gap: 50px;
    }
  }
}
@media (max-width: 650px) {
  .nav {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    &__btn {
      font-size: 25px;
    }
    &__list {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
}
@media (max-width: 370px) {
  .nav {
    &__logo {
      width: 100%;
    }
  }
}