.pages {
  display: none;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &--visible{
    display: flex;
  }
}
.page-active{
  color: var(--btn-bg);
}
.pagination__btn {
  width: 20px;
  font-size: 20px;
  transition: color 0.2s ease-out;
    &:hover{
        color: var(--btn-bg);
    }
}
